.container {
  display: flex;
  flex-direction: column;
}

.container > a {
  margin: 20px auto 10px auto;
}

.list {
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
}

.anchor {
  display: block;
  width: 0;
  height: 0;
  position: relative;
  top: -200px;
  visibility: hidden;
}

.item + .item {
  margin-top: 30px;
}

.item h1 {
  font-size: 18px;
}

.item h3 {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.45);
  font-weight: normal;
}

.itemExtra {
  margin-left: auto;
  align-self: flex-start;
}

@media (max-width: 900px) {
  .itemExtra > img {
    width: 64px !important;
    height: 64px !important;
  }
}
