.listItem {
  border-block-end: none !important;
  margin-bottom: 15px;
}

.listItemExtra {
  display: flex;
  align-items: center;
}

.listItemExtra img {
  width: 126px;
  height: 126px;
  margin: 5px;
}

.listItemMini {
  border-block-end: none !important;
}

.listItemExtraMini {
  display: flex;
  align-items: center;
}

.listItemExtraMini img {
  width: 64px;
  height: 64px;
  margin: 5px;
}

.anchor {
  display: block;
  position: relative;
  top: -200px;
  visibility: hidden;
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
