.header {
  padding: 0 !important;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo strong {
  font-size: 26px;
  line-height: 26px;
}

.menu {
  flex: auto;
  min-width: 0;
  border-bottom: none !important;
}

.border {
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #79daeb, #f450fc);
}
