.divider {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: center;
}

.border1 {
  height: 2px;
  width: 40%;
  background: linear-gradient(to right, #795549, #ffc059);
}

.image {
  opacity: 0.5;
  margin: -29px 10px 0 10px;
}

.border2 {
  height: 2px;
  width: 45%;
  background: linear-gradient(to right, #79daeb, #f450fc);
}
