.footer {
  background: linear-gradient(rgba(255, 255, 255, 0), #79daeb) !important;
  padding: 0 !important;
  color: white !important;
}

.container {
  max-width: 1000px;
  padding: 20px;
  margin: auto;
}

.descriptionLabel {
  display: flex;
  align-items: center;
  height: 50px;
  color: rgba(0, 0, 0, 0.45);
}

.descriptionContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.divider {
  border: 1px solid rgba(5, 5, 5, 0.06);
}

.legal {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 12px !important;
}

.legal a {
  color: unset;
}

.smallHidden {
  color: #79daeb;
}

.border {
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #f450fc, #79daeb);
}

@media (max-width: 900px) {
  .smallHidden {
    display: none;
  }
}
