.content {
  flex: 1 1 auto;
}

.cards {
  width: 100%;
  padding: 50px;
  justify-content: space-around;
}

.cardsItem {
  width: 100%;
  max-width: 500px;
}

.extra {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .cards {
    padding: 20px;
  }
}
