.footer {
  color: white !important;
  margin-top: auto;
}

.descriptionLabel {
  display: flex;
  align-items: center;
  height: 50px;
}

.descriptionContent {
  display: flex;
  flex-direction: column;
}

.divider {
  border-color: white;
}

.legal {
  display: flex;
  justify-content: space-between;
  font-size: 12px !important;
}
