.container {
  background: linear-gradient(#79daeb, rgba(255, 255, 255, 0)) !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
}

.content {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff !important;
}

.content :global(.ant-typography) {
  color: inherit;
  text-align: center;
  margin: 0.5em !important;
}

.content .description {
  margin: 1.2em;
}
